.container {
/*    background-color: #ccc;*/
    padding: 5px;
}

[class*="col-"] {
/*    background-color: #ddd;*/
    padding: 5px;
    padding-top: 5px;
}

.inner {
    padding: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}

.chat-inner {
    height: 350px;
}

.avatar {
    height: 30px;
    width:  30px;
    margin-left: 5px;
    margin-right: 5px;
}

.input-field {
    height: 30px;
    width: 120px;
}

.static-text {
    padding: 15px;
}

.author-name {
    padding: 0px;
    width: 400px;
}

.message-box {
    padding: 10px;
    width: 450px;
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
    margin: 5px;
    border-radius: 10px;
    font-size: 14px;
}

.your-message {
    background-color: #98FB98;
}

.opponent-message {
    background-color: #87CEFA;
}


.fixed-height {
    padding: 5px 5px;
    font-size: 15px;
    line-height: normal;
}

.icon-padding {
    padding-left: 5px;
}



